<h1> MY MUSIC </h1>
<img src="css/justin.png" width="300" height="230">
<h2> Add a CD </h2>

<form action="/new_album" method="post">
  <label for="artist">Artist</label>
  <input id="artist" name="artist" type="text">
  <label for="album">Album</label>
  <input id="album" name="album" type="text">
  <label for="year">Year</label>
  <input id="year" name="year" type="text">
  <button type="submit">Add album</button>
</form>




<ul>
  <% @all_albums.each() do |album| %>
  <li><%= album.artist %>, <%= album.title %>, <%= album.year %></li>
  <% end %>
</ul>
<form action="/clear">
    <button type="submit">Clear</button>
  </form>
